# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# Python cache
.pytest_cache/
.mypy_cache/

# Md files
*.md


